<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chatbuilder</title>
	<script src="http://chatbuilder.hackereactor.com/ChatBuilder.js"></script>
	<style type="text/css"></style>
	</head>
 <body>
 	<h2>Broken Chat</h2>
 	
 </body>
</html>